
p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold
}
 .produto1 {
    color:#FF3300
}

 .produto2 {
    color:#000099
}

 .produto3 {
    color:#009900
}

/*
Adicionar aqui os estilos pedidos na apostila
*/

.titulo {
    background-color: black;
    font-family: Arial;
    color: White;
}

.table{
    border-spacing: 5px;
}

.header{
    font-family: Arial,;
    color:white;
    font-size: 13px;
    background-color: gray;
}

.linha{
    font-family: Arial;
    font-size: 13px;
    color: #858495;
    background-color: #EEEEEE;
}


