<?xml version="1.0" encoding="UTF-8"?>
   <web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">


  <!-- o nome do servlet, configurado em servlet-name é utilizado internamente apenas
       relacionando a classe do Servlet ao URL-PATTERN do servlet, o seja, a url
       que utilizaremos para acessar o Servlet.
       Ex: http://localhost:8080/[context-name]/catalogoProdutos
  -->	 

  <servlet>
     <servlet-name>olamundo</servlet-name>
     <servlet-class>br.com.globalcode.teste.OlaMundo</servlet-class>
   </servlet>
  
 
   <servlet-mapping>
     <servlet-name>olamundo</servlet-name>
     <url-pattern>/olaMundo</url-pattern>
   </servlet-mapping>

</web-app>