# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lmsmo\Desktop\epiousion\epiousion-drive\drive2\AW1\aw1-descompactado\aw1-lab09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
